@model IEnumerable<_24AMPag.Models.Usuario>
@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="offset-9 col-3 mb-3">
		<a asp-action="crear" asp-controller="Home" class="btn-success d-block mx=auto btn-lg"><i class="fa-solid fa-plus"></i> Nuevo usuario</a>
	</div>
</div>

<div class="container-fluid">
	<div class="offset-12">
		<div class="card border">
			<div class="card-header bg-dark">
				<h1 class="text-white"><strong>Lista de usuarios</strong></h1>

			</div>

			<div class="card-body">
				<div class="table-responsive">
					@if (Model.Count() > 0)
					{
					//Cabecera de la tabla
						<table class="table table-bordered align-middle" id="tbUsuarios" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th> @Html.DisplayNameFor(x=>x.Nombrer)</th>
									<th> @Html.DisplayNameFor(x=>x.User)</th>
									<th> @Html.DisplayNameFor(x=>x.Password)</th>
									<th> @Html.DisplayNameFor(x=>x.FkRol)</th>
									<th> Acciones</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{

									<tr>
										<td> @Html.DisplayFor(x=> item.Nombrer) </td>
										<td> @Html.DisplayFor(x=> item.User) </td>
										<td> @Html.DisplayFor(x=> item.Password) </td>
										<td> @Html.DisplayFor(x=> item.Rol.Nombre) </td>
										<td>
											<button type="button" class="btn btn-warning" asp-action="Editar" asp-route-id=@item.PkUsuario><i class="fa-solid fa-pen-to-square"></i> Editar</button>

											<a class="btn btn-danger" asp-action="Editar" asp-route-id=@item.PkUsuario><i class="fa-solid fa-trash"></i> Eliminar</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					else
					{
						<p>NO HAY REGISTROS</p>
					}
				</div>
			</div>
		</div>
	</div>
</div>
